* {
  font-family: Helvetica;
}

.navbar,
.container-fluid.home,
.jumbotron-fluid {
  background-color: #f1f3ff;
}

.offcanvas-end {
  top: 0;
  right: 0;
  width: 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-dropdown {
  max-width: 400px;
  margin: 40px auto;
}

.btn.sewa {
  width: 116px;
  height: 20px;
  background-color: #5cb85f;
}

.navbar-brand {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.logo-footer {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.card.content {
  height: 326px;
  background-color: #0d28a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-costum1 {
  text-align: center;
  color: white;
  padding: 8px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.fa-costum2 {
  text-align: center;
  border: 1px solid black;
  border-radius: 100px;
  padding: 8px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.btn-floating {
  text-align: center;
  border: 1px solid grey;
  border-radius: 100px;
  padding: 3px;
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.fa-check {
  text-align: center;
  background-color: #cfd4ed;
  color: #0d28a6;
  padding: 4px;
  border-radius: 100px;
  width: 28px;
  height: 28px;
}

.fa-thumbs-up {
  background-color: #f9cc00;
}
.fa-tag {
  background-color: #fa2c5a;
}
.fa-clock.layanan{
  background-color: #0d28a6;
}
.fa-award {
  background-color: #5cb85f;
}

.fa-costum1.socmed {
  background-color: #0d28a6;
}

.card.testi {
  display: inline-block;
}

.fa-star {
  color: #f9cc00;
}

.card.testi {
  display: inline-block;
}

.carousel.container {
  position: relative;
  width: 100%;
  height: 18vw;
  margin: 0 auto;
}

.section-carousel {
  scroll-behavior: smooth;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  height: 100%;
}

.section-carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  background-color: #f1f3ff;
  display: flex;
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  align-items: center;
  padding: 3vw;
  border-radius: 12px;
  width: 40vw;
  height: 100%;
}

.carousel-card .container .card {
  width: 100%;
}

.carouselExampleControls {
  display: flex;
}

.carousel-button {
  color: black;
  background-color: #0d28a6;
}

.slider {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}

.carousel-img {
  padding: auto;
}

.card.testi {
  background-color: #f1f3ff;
  border: none;
}

.controls-top {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.card{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 5px;
  width: 1100px;
  height : 100px;
  margin-top: -50px;
  margin-bottom: 1000px;
  margin-left: 50px;
  background-color: white;
}

.container.footer{
  padding-top: 100px;
  padding-bottom: 100px;
}


.accordion-collapse{
  background-color: rgb(255, 255, 255);
}

.accordion-body{
  height: 50px;
}

.btn.cari{
  padding-top: auto;
  padding-bottom: auto;
}

label{
  font-size: 13px;
}

.cari{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.container.filter{
  display: grid;
  grid-template-columns: 33% 33% 33%;

}

#card-cars{
  display: grid;
  column-gap: 20px;
  border-radius: 10px;
  height: 600px;
}

.img-cars{
  object-fit: cover;
  height: 190px; 
  width: 350px;
}


@media only screen and (max-width: 576px) {
  .faq {
    text-align: center;
  }

  .whyUs {
    text-align: center;
  }

  .card.testi {
    text-align: center;
  }
}
